<html>
<head>
<style>
body {
    color: #333;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl {
    background: #eee;
    position: relative;
    padding-top: 10px;
}
h1:before, h2:before, h3:before, h4:before,
h5:before, h6:before, p:before, pre:before,
blockquote:before, ul:before, ol:before, dl:before{
    position: absolute;
    top: 0;
    left: 0;
    font-size: xx-small;
    font-family: monospace;
    color: #aaa;
}
h1:before { content: "H1"; }
h2:before { content: "H2"; }
h3:before { content: "H3"; }
h4:before { content: "H4"; }
h5:before { content: "H5"; }
h6:before { content: "H6"; }
p:before { content: "P"; }
pre:before { content: "PRE"; }
blockquote:before { content: "BLOCKQUOTE"; }
ul:before { content: "UL"; }
ol:before { content: "OL"; }
dl:before { content: "DL"; }
</style>
</head>
<body>
<!--CONTENT-->
</body>
</html>
